<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/success.css') }}">
</head>
<body>
    <div class="top_nav">
        <span>www.veritas.edu.ng</span>
    </div>
    <div class="mid_nav">
        <div>
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" class="logo">
        </div>
        <div>
            <ul class="pages">
                <li><a href="/">Home</a></li>
                <li><a href="/#offices">Offices</a></li>
                <li><a href="/#purpose">Our Purpose</a></li>
            </ul>
        </div>
    </div>
    <div class="success">
        <h2>Your message has been successfully sent</h2>
        <div>
            <button onclick="window.location.href='/'">Ok</button> 
        </div>
    </div>

    <div class="footer">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" class="logo">
        <div class="footer_nav">
            <a href="/">Home</a>
            <a href="/#offices">Offices</a>
            <a href="/#purpose">Our Purpose</a>
        </div>
    </div>
    <div class="footer_bottom">
        <span>&copy; 2024 Veritas University Abuja Nigeria</span>
    </div>
    <div class="footer_bottom2">
        <span>Made with &hearts; By Zomie</span>
    </div>
</body>
</html>
