<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View more</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/view_more.css')}}">
</head>
<body>
    <div class="top_nav">
        <span>www.veritas.edu.ng</span>
    </div>
    <div class="mid_nav">
        <div>
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" class="logo">
        </div>
        <div>
            <ul class="pages">
                <li><a href="/">Home</a></li>
                <li><a href="/#offices">Offices</a></li>
                <li><a href="/#purpose">Our Purpose</a></li>
            </ul>
        </div>
    </div>
    <h1 class="head_text">Office of the VC</h1>
<div class="view_img_case">
    <img src="{{ url_for('static', filename='images/blockB.jpeg') }}" alt="" class="view_img">
</div>    
<h2 class="name">Rev.Hiencent Injokwue</h2>

<form class="share">
    <h1 class="head_text">Share Your Concerns</h1>
    
    <div class="input_case">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Enter your name">
    </div>

    <div class="input_case">
        <label for="matric_number">Matric Number:</label>
        <input type="text" name="matric_number" id="matric_number" placeholder="Enter your Matric Number">
    </div>

    <div class="input_case">
        <label for="Message">Message:</label>
        <textarea name="message" id="message" class="message" required></textarea>
    </div>
    
    <div><button class="send" id="send">Send</button></div>
</form>

<div class="footer">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" class="logo">
    <div class="footer_nav">
        <a href="/">Home</a>
        <a href="/#offices">Offices</a>
        <a href="/#purpose">Our Purpose</a>
    </div>
</div>

<div class="footer_bottom">
    <span>&copy; 2025 Veritas University Abuja Nigeria</span>
</div>

<div class="footer_bottom2">
    <span>Made with &hearts; By Zomie</span>
</div>

<script src="{{url_for('static', filename='script/view_more.js')}}"></script>
</body>
</html>
