.success{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.success button{
    padding: 8px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #124e41;
    color: #eee;
    font-weight: 700;
}
@media (min-width:320px) and (max-width:480px){
   .success h2{
    font-size: 1rem;
   }
}